.search-beer-container{
    padding: 0;
    margin: 0;
    width:15vw ;
    height: 87vh;
    max-height: 87vh;
    background-color: #353b26;
    display: flex;
    flex-direction: column;
    align-items: center;

}

mat-expansion-panel{
    color: antiquewhite !important;
    width: 260px;
    border-radius: 4px ;
    background-color: #424a30 !important;
    margin-top: 15px !important;
    
    .header-search-panel{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #424a30;
    }

    .header-search-panel:hover{
        background-color: #424a30 !important;
    }

    .title-search{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: antiquewhite ;
    }

    .form-search{
        margin: 15px 0 5px 0;
        .title-food-pairing-search{
            margin-bottom: 30px;
        }

        .input-food-pairing-search{
            margin-bottom: 5px;
        }

        .pattern-search{
            color: #b19a27;
            font-style: italic;
            margin-bottom: 20px;
        }

        .button-food-pairing-search{
            background-color: #424a30;
            color: antiquewhite;
        }
    }
}
