.header{
    display: flex;
    flex-direction: row;
    background-color: #44261b ;
    // max-width: 100vw ;
    // height: 135px;
    color:whitesmoke;
}

.logo{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    .bear_logo{
        max-width: 120px;
        max-height: 120px ;
        margin: 0;
    }

    .title_logo{ 
        margin: 0; 
        position: absolute;
        top:102px;
    }
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    
    

    a{
        margin-left: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: grey;
        text-decoration: none;
        padding: 5px 12px 5px 10px;
    }

    a:hover{
        background-color: #351d15;
        border-radius: 15px;
        color: #b19a27;
    }

    mat-icon{
        margin-right: 5px;
    }

}