.rate-menu-container{
    color: antiquewhite;
}

.rate-list{
    color: antiquewhite;
    border-radius: 4px;
    background-color: #353b26;
    padding-left: 5px;
    width: 300px;
}

.mat-select-panel{
    color: antiquewhite ;
}

.panel-container.mat-select-panel{
    color: antiquewhite !important ;
    background-color: #353b26;
}

.mat-select-value-text{
    color: antiquewhite !important ;
}

.mat-option-text{
    color: antiquewhite !important ;
}